.header-container {
    display: flex;
    justify-content: space-around;
    background: var(--branco);
    height: 80px;
    align-items: center;
}

.header-menu-lista {
    display: flex;
    gap: 5rem;
}

.header-menu-lista-item {
    color: var(--azul);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    transition: transform 0.3s ease;
}

.header-menu-lista-item:hover {
    transform: scale(1.1);
}

.btn-login {
    border: 2px solid var(--verde-bg);
    border-radius: 8px;
    padding: 0.3rem 1.3rem;
}

.btn-login:hover {
    background-color: #adc29a;
    color: var(--branco);
    transition: 0.3s;
}
